:root {
  --colorAzul: #07354A;
  --colorAmarillo: #FFC60B;
  --colorChicle: #E6553C;
  --colorRosa: #F6B9B4;
  --colorGrisOscuro: #231F20;
  --colorGrisClaro: #707070;
  --colorBeige: #F4F1E8;
}

html {
  box-sizing: 	border-box;
  font-size: 62.5%;
  background-color: var(--colorBeige);
}

body {
  background-color: var(--colorBeige)!important;
  font-size: 1.6rem!important;
  text-align: center;
  font-family: 'Gotham', sans-serif;
}

*, *:before, *:after{
  box-sizing: inherit;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/GothamMedium.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/GothamUltra.ttf");
  font-style: thin;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GothamBook";
  src: url("/fonts/Gotham/GothamBook.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Bold.otf");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}


.p-secc {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.text-left-mobile-right {
  text-align: center; 
}
@media (min-width: 540px){
  .text-left-mobile-right {
    text-align: left; 
  }
}

.navbar-nav a {
  text-transform: uppercase;
  color: white!important;
}
@media (min-width: 768px){
  .navbar-nav a {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.nav-lola {
  background-color: var(--colorGrisOscuro);
  font-family: 'GothamBook';
}

@media (max-width: 540px){
  .no-mobile {
    display: none!important;
  }
}

@media (min-width: 540px){
  .no-desktop {
    display: none!important;
  }
}


.animate__delay-6s { --animate-delay: 6s!important; animation-delay: 6s }
.animate__delay-7s { --animate-delay: 7s!important; animation-delay: 7s }
.animate__delay-8s { --animate-delay: 8s!important; animation-delay: 8s }
.animate__delay-9s { --animate-delay: 9s!important; animation-delay: 9s }
.animate__delay-10s { --animate-delay: 10s!important; animation-delay: 10s }
.animate__delay-11s { --animate-delay: 11s!important; animation-delay: 11s }
.animate__delay-12s { --animate-delay: 12s!important; animation-delay: 12s }
.animate__delay-13s { --animate-delay: 13s!important; animation-delay: 13s }
.animate__delay-14s { --animate-delay: 14s!important; animation-delay: 14s }
.animate__delay-15s { --animate-delay: 15s!important; animation-delay: 15s }
.animate__delay-16s { --animate-delay: 16s!important; animation-delay: 16s }
.animate__delay-17s { --animate-delay: 17s!important; animation-delay: 17s }

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

